@import "tailwindcss";

body {
  background-color: #050505;
  color: #e5e5e5;
}

.glass-panel {
  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.text-glow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
